@import 'variables.scss';

input {
    border: 0;
    outline: none;
}

input[type="text"] {
    border-bottom: 1px solid $color;
    padding: 5px 20px;
}

input[type="submit"] {
    padding: 10px 30px;
    border-radius: 30px;
    color: $color;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid $color;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: $color;
        color: white;
    }
}

label{
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    input:not(:first-child) {
        margin-top: 30px;
    }
}